html {
  /* fit 1rem equal to 10px */
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-align: center;
  position: relative;
}

header, main, footer {
  width: 100%;
  padding: 2em;
}

h1, h2{
  font-family: 'Poppins', sans-serif;
  color: hsl(192, 100%, 9%);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}


/************* header style *******************/


header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-logo {
  width: 10em;
}

.header-btn {
  padding: 0.3em 1em;
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 0.3em;
  color: hsl(322, 100%, 66%);
  box-shadow: 0 0 0.5em -0.2em hsl(322, 100%, 66%);
}

.btn {
  padding: 1em 2em;
  border-radius: 0.5em;
  color: #fff;
  background-color: hsl(322, 100%, 66%);
  box-shadow: 0 0 1em -0.2em rgba(0,0,0,0.2);
  display: inline-block;
  width: 200px;
}

/************* main style *******************/
main p {
  color: hsl(208, 11%, 55%);
}

.top-container{
  padding: 16% 2em 2em;
  margin: 0 auto;
}

.main-head {
  max-width: 260px;
  display: inline-block;
}

.main-contents {
  font-size: 1.4em;
  max-width: 430px;
  display: inline-block;
}


.btn-wrap{
  display: none;
  margin: 2em;
}

.main-img {
  width: 100%;
  margin: 10% 0;
}

.mid-container {
  margin: -2em -2em 0;
  background-color: hsl(180, 60%, 99%);
}

.feature-img {
  width: 70%;
  padding: 8em 0 0;
  margin: 0 auto;
}

.feature-contents {
  padding: 3em;
  text-align: left;
}

.feature-contents p {
  font-size: 1.3em;
  text-align: left;
}

.features {
  margin: 4em 0;
}

/* btm-container */

.btm-container {
  padding: 2em 0;
  margin: 4em -1em;
}

.btm-container h2 {
  font-size: 2em;
}

/************* footer *******************/
footer {
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  text-align: left;
}


.subscribe {
  text-align: left;
  font-size: 2em;
}

.email-input{
  width: 100%;
  padding: 1rem;
  border-radius: 0.2em 0.5em 0.5em 0.2em;
  border: none;
  color: hsl(192, 100%, 9%);
  font: 400 1em "Open Sans", sans-serif;
}

::placeholder{
  color: #F5F5F5;
}

.subsc-wrap {
  position: relative;
}
.email-input:focus {
  background-color: hsl(180, 60%, 99%);
  outline: none;
}

.email-btn {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0 0.3em 0.3em 0;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  font-size: 140%;
  width: 60px;
  background-color: hsl(322, 100%, 66%);
  color: inherit;
}

.footer-logo-wrap {
  margin: 4em 0 2em;
}

.footer-logo-wrap p, .menu-link{
  font-size: 1.3em;
}
.footer-logo {
  width: 70%;
  max-width: 200px;
}

.sns {
  font-size: 2em;
  margin-right: 0.2em;
}

ul.menu-list {
  list-style: none;
  padding: 0;
  margin: 2em 0;
}

.menu-list li {
  margin: 1em 0;
}

.menu-link {
  color: inherit;
}

.copyright {
  margin: 3em;
}

.attribution {
  font-size: 0.5em;
  text-align: center;
}

.footer-bg {
  background-image: url("../images/bg-footer-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
}


/************* media queries *******************/

@media screen and (min-width: 520px) {
  .main-head {
    max-width: none;
  }

  .btn {
    width: 280px;
  }

  .btn-wrap {
    display: inline-block;
  }

  .main-contents {
    display: block;
    margin: 0 auto;
    max-width: 660px;
  }
}

@media screen and (min-width: 992px) {
  html {
  font-size: calc(62.5% * 2);
  }

  h1 {
    font-weight: bold;
  }

  header {
    padding: 3em;
  }

  .header-btn {
    padding: 0.6em 1em;
    width: 10em;
  }

  .top-container {
    padding: 6% 6em 6em;
  }

  .btn {
    width: 400px;
  }

  .main-img {
    margin: 0 auto;
  }

  .mid-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .feature-img {
    padding: 0 3em 0 0;
    flex-basis: 50%;
  }

  .feature-contents {
    flex-basis: 50%;
  }

  .feature-contents p {
    font-size: 1em;
  }

  .features {
    margin: 2em 0;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .footer-logo-wrap {
    order: 1;
    flex-basis: 100%;
    }

  .subscribe-flex {
    order: 4;
    flex-basis: calc(100% / 3);
  }

  .subscribe {
    margin-top: 0;
  }

  .sns-wrap {
    order: 2;
    flex-basis: calc(100% / 3);
    padding-right: 4%;
  }

  ul.menu-list {
    order: 3;
    margin: 0;
    flex: 1 0 calc( 100% /6 );
  }

  .menu-link {
    font-size: 1.1em;
  }

  .copyright {
    order: 5;
    flex-basis: 100%;
  }

  footer {
    padding: 4em 6em;
  }

  .footer-bg {
    background-image: url("../images/bg-footer-desktop.png");
    height: 70px;
  }

}
